/* Section */
.popular-section {
  margin-top: 60px;
}

.popular-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Grid Layout */
.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

/* Card */
.pop-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: 0.3s ease;
}

.pop-card:hover {
  transform: scale(1.05);
}

/* Image */
.pop-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Info */
.pop-info {
  padding: 12px 14px;
}

.pop-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.rating {
  font-weight: bold;
  color: #0077ff;
}

.desc {
  font-size: 14px;
  margin-top: 6px;
  color: #444;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .popular-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .popular-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .pop-card img {
    height: 180px;
  }
}
